@model Shteti

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shteti</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertedFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertedFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedFrom)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
